body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FF0000;
    font-size: 15px;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: pink;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;    
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 20px;
}

label {
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"] {
    width: 100%; 
    background-color: lightgoldenrodyellow;
    padding: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 15px; 
    font-size: 16px; 
}

input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    padding: 10px 50px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

li {
    display: grid;
}

.one-col {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
}
hr {
    border: none;
    height: 5px; 
    border-top: 6px dashed black;
    margin: 0px;
    padding: 0px;
}

nav {
    font-family: "Trirong", serif;
    background-color: darkslategrey;
    padding: 1px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 10px solid black;
}

nav a {
    text-decoration: none; 
    padding: 1px; 
    border-radius: 5px; 
    background-color: orange; 
    font-size: 15px;
}

nav a:hover {
    background-color: bisque;
    color: red;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    padding: 20px;
    color: yellow;
}

footer a {
    text-decoration: none; 
    padding: 1px; 
    border-radius: 5px; 
    background-color: orange; 
    font-size: 15px;
}

footer a:hover {
    background-color: bisque;
    color: red;
}

.c1 {
    background-color: darkolivegreen;
    background-size: cover;
    padding: 200px;
    background-image: url(https://images.hdqwalls.com/wallpapers/blade-runner-2049-cyberpunk-alley-4k-mm.jpg);
}

.c2 {
    background-color: darkslategray;
    background-size: cover;
    padding: 200px;
}

.c3 {
    background-color: gray;
}

a {
    text-decoration: none; 
    color: darkgreen; 
  }
  
  a:hover {
    color:pink; /* Change the link text color to red on hover */
  }

  .roundedimg {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .card {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 2);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid blue;
    margin: 10px;
  }

.card img {
    max-width: 100%;
    height: auto;
    display: grid;
    margin: 0 auto; 
}
.card h3 {
    text-align: center;
    font-size: 20px;
}
label {
    font-size: 30px;
}
  .three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.img1 {
    position: absolute;
    border-radius: 5px;
    top: 78px;
    left: 5%;
    filter: drop-shadow(0 -6mm 4mm rgb(210, 53, 0));
}

.img2{
    position: absolute;
    border-radius: none;
    top: 550px;
    left: 500px;
}