body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FF0000;
    font-size: 15px;
}

h1 {
    font-family: "Trirong", serif;
    font-size: 40px;
    color: pink;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

li {
    display: grid;
}

.one-col {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
hr {
    border: none;
    height: 5px; /* Set the height of the horizontal rule */
    background-color: #333; 
    border-top: 1px solid #555; 
    border-bottom: 1px dashed #777; 
}

nav {
    font-family: "Trirong", serif;
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid blue;
}

nav a {
    text-decoration: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: #f0f0f0; 
}

nav a:hover {
    background-color: bisque;
    color: red;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aquamarine;
    padding: 20px;
    color: blue;
}

footer a {
    text-decoration: none;
    background-color: #f0f0f0;
    font-weight: bold;
}

footer a:hover {
    background-color: bisque;
    color: red;
    border-radius: 5px;
}

.c1 {
    background-color: aquamarine;

}

.c2 {
    background-color: lightgreen;
}



a {
    text-decoration: none; /* Remove underlines from links */
    color: blue; /* Set the default link text color */
  }
  
  a:hover {
    color: #FF0000; /* Change the link text color to red on hover */
  }

  .roundedimg {
    border-radius: 50%;
  }

  .card {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid blue;
  }

  .three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equally sized columns */
    gap: 20px; /* Adjust the space between the columns */
}